In [2]:
import yfinance as yf
import pandas as pd
import requests
from bs4 import BeautifulSoup
import plotly.graph_objects as go
from plotly.subplots import make_subplots
import matplotlib.pyplot as plt

In [3]:
GameStop=yf.Ticker('GME')

In [4]:
df=GME_data=GameStop.history(period='max')

In [5]:
GME_data.reset_index(inplace=True)
GME_data.head()

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2002-02-13 00:00:00-05:00,1.620128,1.693350,1.603296,1.691667,76216000,0.0,0.0
1,2002-02-14 00:00:00-05:00,1.712708,1.716074,1.670626,1.683251,11021600,0.0,0.0
2,2002-02-15 00:00:00-05:00,1.683251,1.687459,1.658002,1.674834,8389600,0.0,0.0
3,2002-02-19 00:00:00-05:00,1.666418,1.666418,1.578047,1.607504,7410400,0.0,0.0
4,2002-02-20 00:00:00-05:00,1.615920,1.662210,1.603296,1.662210,6892800,0.0,0.0

In [6]:
url='https://stockanalysis.com/stocks/gme/revenue/'
response=requests.get(url)
html_data=response.text

In [7]:
soup=BeautifulSoup(html_data,'lxml')

In [10]:
tables=pd.read_html(html_data)
GME_revenue=tables[0]

C:\Users\anish\AppData\Local\Temp\ipykernel_1352\3879204138.py:1: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  tables=pd.read_html(html_data)

In [11]:
GME_revenue.tail()

   Fiscal Year End  Revenue   Change  Growth
20    Jan 31, 2004    1.58B  226.05M  16.71%
21     Feb 1, 2003    1.35B  231.65M  20.66%
22     Feb 2, 2002    1.12B  364.44M  48.16%
23     Feb 3, 2001  756.70M  291.53M  62.67%
24    Jan 30, 1999  465.17M        -       -