In [61]:
import yfinance as yf
import pandas as pd
import requests
from bs4 import BeautifulSoup
import plotly.graph_objects as go
from plotly.subplots import make_subplots
import matplotlib.pyplot as plt

In [62]:
Tesla=yf.Ticker('TSLA')

In [63]:
df=Tesla_data=Tesla.history(period='max')

In [64]:
Tesla_data.reset_index(inplace=True)
Tesla_data.head()

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2010-06-29 00:00:00-04:00,1.266667,1.666667,1.169333,1.592667,281494500,0.0,0.0
1,2010-06-30 00:00:00-04:00,1.719333,2.028000,1.553333,1.588667,257806500,0.0,0.0
2,2010-07-01 00:00:00-04:00,1.666667,1.728000,1.351333,1.464000,123282000,0.0,0.0
3,2010-07-02 00:00:00-04:00,1.533333,1.540000,1.247333,1.280000,77097000,0.0,0.0
4,2010-07-06 00:00:00-04:00,1.333333,1.333333,1.055333,1.074000,103003500,0.0,0.0

In [65]:
url='https://stockanalysis.com/stocks/tsla/revenue/'
response=requests.get(url)
html_data=response.text

In [66]:
soup=BeautifulSoup(html_data,'lxml')

In [67]:
tables=pd.read_html(html_data)
Tesla_revenue=tables[0]

C:\Users\anish\AppData\Local\Temp\ipykernel_3740\3707255185.py:1: FutureWarning:

Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.

In [68]:
Tesla_revenue.tail()

   Fiscal Year End  Revenue  Change      Growth
12    Dec 31, 2011  204.24M  87.50M      74.95%
13    Dec 31, 2010  116.74M   4.80M       4.29%
14    Dec 31, 2009  111.94M  97.20M     659.35%
15    Dec 31, 2008   14.74M  14.67M  20,094.52%
16    Dec 31, 2007   73.00K       -           -